<mat-card class="etable">
  <h1 class="title">Edit a task</h1>
  <div class="edata">
  <form >
    <div class="row">

    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Title</label>
          <input
            type="text"
            id="name"
            name="title"
            [(ngModel)]="title"
            class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <mat-form-field color="warn">
            <mat-label  class="matf">Select a status</mat-label>
            <mat-select  placeholder="status..."
                        [(ngModel)]="status"
                        name="status"
            >
              <mat-option value="new">
                new
              </mat-option>
              <mat-option value="active">
                active
              </mat-option>
              <mat-option value="blocked">
                blocked
              </mat-option>
              <mat-option value="done">
                done
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            class="form-control"
            name="description"
            [(ngModel)]="description"
            rows="6"></textarea>
        </div>
      </div>
    </div>
    <div class="row btns">
      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-success"
          (click)="onEdit()"
        >Save</button>

      </div>
      <div class="col-xs-12">
        <button type="button" class="btn btn-danger" routerLink="/" >Cancel</button>
      </div>

    </div>
  </form>
  </div>
</mat-card>
