<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>

  <div class="row">
    <div class="col">

      <div class="row mrow">
        <div class="col-xs-12">
          <mat-card class="lay">
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
            >
          </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6"
              >
            </div>
            <div class="form-group btns">
              <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{loginMode ? 'Sign in ' : 'Sign up '}}</button>
              <button class="btn btn-secondary" (click)="switchMode()" type="button">Switch to {{loginMode? 'Sign up' : 'Sign in'}} </button>
            </div>
          </form>
          </mat-card>
        </div>

      </div>

    </div>
  </div>
</div>
